#s-47fd8486-84b6-4e72-a339-61d08aa410c8 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 > #alignmentBox {
  position: relative;
  max-width: 1080px;
  max-height: 2220px;
  width: 100%;
  height: 100%;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Title-bar-one-icon {
  position: absolute;
  width: 1084px;
  height: 76px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #6200EE;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: -3px 0px 4px 0px #A0A0A0;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Bg {
  position: absolute;
  width: 0px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Bg > .clipping, #s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Bg > .paddingLayer {
  height: 38px;
  width: 27px;
  padding-top: 38px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Bg .valign {
  vertical-align: top;
  text-align: left;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Bg span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 16.0pt;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Bg span#rtr-s-Bg_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Text > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Text {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Text > .clipping, #s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Text > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Text .valign {
  vertical-align: middle;
  text-align: left;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Text span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 15.0pt;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Text span#rtr-s-Text_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Paragraph_1 {
  position: absolute;
  width: 10px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Paragraph_1 > .clipping, #s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Paragraph_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Paragraph_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Paragraph_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Paragraph_3 {
  position: absolute;
  width: 10px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 6.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Paragraph_3 > .clipping, #s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Paragraph_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Paragraph_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 6.0pt;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 6.0pt;
  line-height: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Browser_1 {
  position: absolute;
  width: 0px;
  height: 1432px;
  box-shadow: none;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Bottom_Nave_1 {
  position: absolute;
  width: 1084px;
  height: 100px;
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Bottom_Nave_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #6200EE;
  background-image: none;
  box-shadow: none;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Bottom_Nave_1 > table {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Cell_2 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Cell_2 td.layout {
  padding: 10px 10px 10px 10px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Cell_2 .verticalalign {
  vertical-align: top;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Cell_2 {
  width: 362px;
  height: 100px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Image_25 > svg {
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Image_25 {
  width: 68px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Image_25 > img, #s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Image_25 > svg {
  height: 66px;
  width: 68px;
  box-shadow: none;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_4 {
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_4 > .clipping, #s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_4 span {
  color: #B68AF7;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.0pt;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_4 span#rtr-s-Label_4_0 {
  color: #B68AF7;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Cell_6 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Cell_6 td.layout {
  padding: 10px 10px 10px 10px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Cell_6 .verticalalign {
  vertical-align: top;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Cell_6 {
  width: 361px;
  height: 100px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Image_11 > svg {
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Image_11 {
  width: 68px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Image_11 > img, #s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Image_11 > svg {
  height: 66px;
  width: 68px;
  box-shadow: none;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_8 {
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_8 > .clipping, #s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_8 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_8 span {
  color: #B68AF7;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.0pt;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_8 span#rtr-s-Label_8_0 {
  color: #B68AF7;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Cell_8 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Cell_8 td.layout {
  padding: 10px 10px 10px 10px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Cell_8 .verticalalign {
  vertical-align: top;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Cell_8 {
  width: 361px;
  height: 100px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Image_12 > svg {
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Image_12 {
  width: 68px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Image_12 > img, #s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Image_12 > svg {
  height: 66px;
  width: 68px;
  box-shadow: none;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_10 {
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_10 > .clipping, #s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_10 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_10 span {
  color: #B68AF7;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.0pt;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_10 span#rtr-s-Label_10_0 {
  color: #B68AF7;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Rectangle_1 {
  position: absolute;
  width: 1080px;
  height: 120px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Rectangle_1 > .clipping, #s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Rectangle_1 > .paddingLayer {
  height: 120px;
  width: 1080px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}