#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Bottom_Nave_1 {
  border-collapse: separate;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Cell_2 > .valign {
  vertical-align: top;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Cell_6 > .valign {
  vertical-align: top;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Cell_8 > .valign {
  vertical-align: top;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}