#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47fd8486-84b6-4e72-a339-61d08aa410c8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}