#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-star-1 {
  -ms-transform: rotate(0.0deg);
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-star-1_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-star-1_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-star-1_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-star-1_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 45px;
  width: 15px;
  -ms-transform: rotate(0.0deg);
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Bottom_Nave_1 {
  border-collapse: separate;
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Cell_2 > .valign {
  vertical-align: top;
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Cell_6 > .valign {
  vertical-align: top;
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Cell_8 > .valign {
  vertical-align: top;
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}