#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-star-1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-star-1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-star-1_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-star-1_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-star-1_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6668d59e-c8f2-4b42-b1e5-bcf6181587de > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}