#s-797b1b7d-b07d-4940-9571-ebff9a3681fb #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-797b1b7d-b07d-4940-9571-ebff9a3681fb #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-797b1b7d-b07d-4940-9571-ebff9a3681fb #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-797b1b7d-b07d-4940-9571-ebff9a3681fb #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-797b1b7d-b07d-4940-9571-ebff9a3681fb #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-797b1b7d-b07d-4940-9571-ebff9a3681fb #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-797b1b7d-b07d-4940-9571-ebff9a3681fb #s-star-1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-797b1b7d-b07d-4940-9571-ebff9a3681fb #s-star-1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-797b1b7d-b07d-4940-9571-ebff9a3681fb #s-star-1_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-797b1b7d-b07d-4940-9571-ebff9a3681fb #s-star-1_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-797b1b7d-b07d-4940-9571-ebff9a3681fb #s-star-1_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-797b1b7d-b07d-4940-9571-ebff9a3681fb #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-797b1b7d-b07d-4940-9571-ebff9a3681fb #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-797b1b7d-b07d-4940-9571-ebff9a3681fb #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-797b1b7d-b07d-4940-9571-ebff9a3681fb #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-797b1b7d-b07d-4940-9571-ebff9a3681fb #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-797b1b7d-b07d-4940-9571-ebff9a3681fb #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-797b1b7d-b07d-4940-9571-ebff9a3681fb #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-797b1b7d-b07d-4940-9571-ebff9a3681fb #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-797b1b7d-b07d-4940-9571-ebff9a3681fb #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-797b1b7d-b07d-4940-9571-ebff9a3681fb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}