#s-8da8ac58-447d-4134-a662-34cfec799d1d #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da8ac58-447d-4134-a662-34cfec799d1d #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da8ac58-447d-4134-a662-34cfec799d1d #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da8ac58-447d-4134-a662-34cfec799d1d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da8ac58-447d-4134-a662-34cfec799d1d #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da8ac58-447d-4134-a662-34cfec799d1d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da8ac58-447d-4134-a662-34cfec799d1d #s-star-1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da8ac58-447d-4134-a662-34cfec799d1d #s-star-1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da8ac58-447d-4134-a662-34cfec799d1d #s-star-1_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da8ac58-447d-4134-a662-34cfec799d1d #s-star-1_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da8ac58-447d-4134-a662-34cfec799d1d #s-star-1_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da8ac58-447d-4134-a662-34cfec799d1d #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da8ac58-447d-4134-a662-34cfec799d1d #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da8ac58-447d-4134-a662-34cfec799d1d #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da8ac58-447d-4134-a662-34cfec799d1d #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da8ac58-447d-4134-a662-34cfec799d1d #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da8ac58-447d-4134-a662-34cfec799d1d #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da8ac58-447d-4134-a662-34cfec799d1d #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da8ac58-447d-4134-a662-34cfec799d1d #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da8ac58-447d-4134-a662-34cfec799d1d #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da8ac58-447d-4134-a662-34cfec799d1d #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8da8ac58-447d-4134-a662-34cfec799d1d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}