#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Bottom_Nave_1 {
  border-collapse: separate;
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Cell_2 > .valign {
  vertical-align: top;
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Cell_6 > .valign {
  vertical-align: top;
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Cell_8 > .valign {
  vertical-align: top;
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}