#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdae96b0-bb27-4d95-9844-2116bf2bdf05 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}