#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-star-1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-star-1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-star-1_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-star-1_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-star-1_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}