#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-star-1 {
  -ms-transform: rotate(0.0deg);
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-star-1_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-star-1_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-star-1_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-star-1_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 45px;
  width: 15px;
  -ms-transform: rotate(0.0deg);
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Bottom_Nave_1 {
  border-collapse: separate;
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Cell_2 > .valign {
  vertical-align: top;
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Cell_6 > .valign {
  vertical-align: top;
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Cell_8 > .valign {
  vertical-align: top;
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e882e870-6e0a-427e-9496-0c6eb77993ea > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}