#s-ed7e415f-ede8-4a3a-aedc-017c7c1b1cdf #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed7e415f-ede8-4a3a-aedc-017c7c1b1cdf #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed7e415f-ede8-4a3a-aedc-017c7c1b1cdf #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed7e415f-ede8-4a3a-aedc-017c7c1b1cdf #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed7e415f-ede8-4a3a-aedc-017c7c1b1cdf #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed7e415f-ede8-4a3a-aedc-017c7c1b1cdf #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed7e415f-ede8-4a3a-aedc-017c7c1b1cdf #s-star-1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed7e415f-ede8-4a3a-aedc-017c7c1b1cdf #s-star-1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed7e415f-ede8-4a3a-aedc-017c7c1b1cdf #s-star-1_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed7e415f-ede8-4a3a-aedc-017c7c1b1cdf #s-star-1_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed7e415f-ede8-4a3a-aedc-017c7c1b1cdf #s-star-1_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed7e415f-ede8-4a3a-aedc-017c7c1b1cdf #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed7e415f-ede8-4a3a-aedc-017c7c1b1cdf #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed7e415f-ede8-4a3a-aedc-017c7c1b1cdf #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed7e415f-ede8-4a3a-aedc-017c7c1b1cdf #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed7e415f-ede8-4a3a-aedc-017c7c1b1cdf #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed7e415f-ede8-4a3a-aedc-017c7c1b1cdf #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed7e415f-ede8-4a3a-aedc-017c7c1b1cdf #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed7e415f-ede8-4a3a-aedc-017c7c1b1cdf #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed7e415f-ede8-4a3a-aedc-017c7c1b1cdf #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed7e415f-ede8-4a3a-aedc-017c7c1b1cdf #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed7e415f-ede8-4a3a-aedc-017c7c1b1cdf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}