#s-ee5e7a6a-75b6-4585-b923-fabc84b0f6b5 #s-sign_up {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee5e7a6a-75b6-4585-b923-fabc84b0f6b5 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee5e7a6a-75b6-4585-b923-fabc84b0f6b5 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee5e7a6a-75b6-4585-b923-fabc84b0f6b5 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee5e7a6a-75b6-4585-b923-fabc84b0f6b5 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee5e7a6a-75b6-4585-b923-fabc84b0f6b5 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee5e7a6a-75b6-4585-b923-fabc84b0f6b5 #s-password INPUT {
  font-family: Arial;
}
#s-ee5e7a6a-75b6-4585-b923-fabc84b0f6b5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}